.excel-table {
    width: 100%;
    height: 87vh;
    overflow: auto;
}

.disabled {
    background-color: #ececec;
}

.active-cell {
    outline: 1px outset blue;
    background-color: #f3f3f3;
    border-collapse: collapse;
}

.active-excel-navbar {
    background-color: #cbcbcb;
}
