.excel-table {
    width: 100%;
    height: 87vh;
    overflow: auto;
}

.disabled {
    background-color: #ececec;
}

.active-cell {
    outline: 2px outset blue;
    background-color: #f3f3f3;
    border-collapse: collapse;

    position: relative;
    top: 2px;
    left: 1px;
}

.active-excel-navbar {
    background-color: #cbcbcb;
}

.excel-col {
    resize: horizontal;
    position: relative;
    top: 2px;
    font-size: 16px;
    color: black;
}

.excel-row {
    resize: vertical;
    position: relative;
    top: 2px;
    font-size: 16px;
    color: black;

    width: 100%;
}
