@media only screen and (max-width: 768px) {
    .navbar-right {
        display: none;
    }

    .navbar-between {
        display: none;
    }

    .excel-table {
        height: 91vh;
    }
}

@media only screen and (max-width: 1080px) {
    .theme-modal {
        width: 80%;
    }
}
