.theme-button {
    font-weight: bold;

    color: white;
    background-color: green;
    padding: 3px;

    outline: none;
    border: none;
    border-radius: 3px;
}

.theme-button:hover {
    background-color: #007000;
    cursor: pointer;
}

.theme-button:disabled {
    background-color: #94b094;
}

.theme-modal {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 30%;
    padding: 1% 1%;

    background-color: #efefef;
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;


    z-index: 10;
}

.theme-blur {
    filter: blur(3px);
}
